name: onconutri
description: OncoNutri+ Cancer Nutrition App
publish_to: 'none'
version: 1.0.0+1

environment:
  sdk: '>=3.0.0 <4.0.0'

dependencies:
  flutter:
    sdk: flutter
  flutter_localizations:
    sdk: flutter
  http: ^1.1.0
  shared_preferences: ^2.2.2
  cupertino_icons: ^1.0.2
  image_picker: ^1.0.7
  provider: ^6.1.1
  carousel_slider: ^5.0.0
  flutter_local_notifications: ^17.0.0
  timezone: ^0.9.2
  intl: ^0.19.0

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^3.0.0

flutter:
  uses-material-design: true
  generate: true
  
  assets:
    - lib/l10n/
    - assets/images/
